@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700&display=swap');
:root{
    --cinza: rgb(190, 70, 70);   
    --fundo-texto: #0c0808;  
    --borda: #145196;
    --roboto-mono: 'Roboto Mono', monospace;
    --roboto:'Roboto', sans-serif;
    --cor-de-fundo: #FCA600;  
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--vermelho);
}

.titulo-principal{
    margin-top: 75px;
    background-color: var(--cor-de-fundo);
    padding: 50px;
    border-bottom: 6px solid var(--borda);
.titulo-pricipal
    background-color: var(--cor-de-fundo);
    border: none;
    color: var(--fundo-texto);
    font-family: var(--roboto-mono);
    font-size: 60px;
    width: 70%;
.titulo-principal
    font-family: var(--roboto-mono);
    font-size: 60px;
}
.titulo-pricipal{
    text-align: center;
}
.cabecalho{
    text-align: center;
    max-width: 80px;
    max-height: center;
}
.titulo-secundario{
    background-color: var(--cor-de-fundo);
    border: none;
    color: var(--fundo-texto);
    font-family: var(--roboto-mono);
    font-size: 20px;
    width: 70%;
}