@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700&display=swap');
:root{
    --vermelho: rgb(190, 70, 70);
    --cor-de-fundo: #155315;
    --fundo-texto: #565e66;
    --borda: #145196;
    --roboto-mono: 'Roboto Mono', monospace;
    --roboto:'Roboto', sans-serif;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--vermelho);
}
.conteudo-titulo{
    text-align: center;
}
